/******************************************/
/*       General Container Styling        */
/******************************************/

.calendar-container {
    display: none;
    grid-template-columns: 90px auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 5px;

    margin: 30px 0;
}

.no-events-container{
    display: none;
    padding: 20px;
    text-align: center;
    color: gray;
}

.calendar-icons{
    width: 15px;
}

/******************************************/
/*            Date Badge Styling          */
/******************************************/
    .date-container{
        width: 90px;
        height: 90px;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;
        background-color: #1C4B66;
        color: white;
        box-shadow: 1px 1px 8px rgba(26, 49, 70, 0.274);
    }

    .month{
        padding-top: 10px;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }

    .day{
        font-weight: 500;
        font-size: 30px;
    }

.event-title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(26, 49, 70, 0.274);
    margin-bottom: 15px;
}

.time-location {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
}



.description-container {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 0;
}

/* Eliminates the top margin from the first paragraph in 
the description of the event */
.description p:first-of-type {
    margin-top: 0;
}


@media (max-width: 500px) {
    .event-title {
        text-align: center;
    }

    .description-container {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 10px;
    }



}