
/******************************************/
/*             Gallery Theme              */
/******************************************/


/* 3 x 2 grid  */
.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 600px 100px;
  border: solid 10px red;

  /* grid-template-areas: 
    "display-slide      display-slide      display-slide"
    "carousel-container carousel-container carousel-container"
  ; */

}


.display-slide {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;

  border: solid 5px blue;
}

.carousel-container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;

  border: solid 5px green;

  display: grid;
  grid-template-columns: auto auto auto auto;
}

.carousel-thumbnail {
  border: solid 3px pink;
}












