
body{
    padding: 80px 0 0 0;
    margin: 0 auto;
    max-width: 1500px;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.5;
    color: #33353C;
}

/******************************************/
/*           General Page Theme           */
/******************************************/

    h1 {    /*Used inside hero sections*/
        margin: 0px;
        text-align: right;
        text-transform: uppercase;
        /* font-size: 3em; */
        font-size: 5vw;
        font-weight: 900;
        color: white;
    }

        /* Change font size for screens below 700px */
        @media (max-width: 700px){
            h1 {
                text-align: center;
                font-size: 6vw;
            }
        }

    h2{ /* Used as the title for each section */
        text-align: center;
        text-transform: uppercase;
        color: #35668A;
        font-size: 1em;
        margin: 5px;
    }

    h3{ 
        /* text-align: center; */
        font-size: 20px;
        /* font-weight: 900; */
        color: #35668A;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #1f496b;
    }

    .button {
        display: block;
        width: 120px;
        padding: 8px 12px;
        margin: 18px auto; 
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        border: 2px solid #143148;
        background-color: white;
        color: #143148;
    }

    .button:hover {
        background-color: #143148;
        color: white;
    }

/******************************************/
/*         Navigation Bar Styling         */
/******************************************/

    .nav-bar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        
        top: 0;
        max-width: 1500px;
        width: 100%;
        height: 80px;

        box-shadow: 0 5px 10px -10px;
        background-color: white;
    }

        .nav-logo {
            padding: 20px;
            height: 40px;
        }

    /******************************************/
    /*         Navigation Links Styling       */
    /******************************************/

        .nav-links {
            display: flex;
            align-items: center;
            margin: 17.5px 10px;
        }

        .nav-links a {
            padding: 13px 16px;
            font-weight: 500;
            color: #1A3146;
        }

        .nav-link:hover{
            background-color: rgba(26, 49, 70, 0.733);
            color: white;
        }

        .nav-link:active {
            background-color: #1A3146;
            color: white;
        }

        /* 700px below hide nav bar */
        @media (max-width: 700px){
            .nav-links {
                display: none;
            }

            
        }

/******************************************/
/*             Section Styling            */
/******************************************/

    section{
        /* background-color: #FAF9F6; */
        background-color: white;
        padding: 7vw;
    }

    /******************************************/
    /*           Hero Section Styling         */
    /******************************************/

        .hero-section{
            
            padding: 7vw;
            min-height: 220px;
            background-image: url(../Assets/hero.png);
            background-size: cover;
            
        }

            .call-to-action-container{
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
            }

            

            .callToAction {
                padding: 10px 15px;
                margin: 15px;
                text-decoration: none;  
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
            }

            .learn {
                border: 2px solid #143148; 
                background-color: #143148;
                color: white;
            }
            
            .learn:hover{
                background-color: white;
                color: #143148;
            }
            
            .join {
                margin: 15px 15px 15px 15px;
                border: 2px solid #143148;
                background-color: white;
                color: #143148;
            }
            
            .join:hover{
                background-color: #143148;
                color: white;
            }

            @media (max-width: 700px){
                .call-to-action-container{
                    justify-content: center;
                }

                .callToAction{
                    padding: 7px 12px;
                    margin: 10px;
                }
            }

    /******************************************/
    /*          Break Section Styling         */
    /******************************************/

            .section-break {
                background-color: #215076;
                padding: 7vw;
                text-align: center;
                box-shadow: 
                    inset 0px 20px 20px -20px black, 
                    inset 0px -20px 20px -20px black;            
            }

            .section-break h2{
                color: white;
            }

            .card{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                border-radius: 40px;

                background-color: white;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.173);
                padding: 4vw;
                min-height: 300px;
                
            }

            .card-blurb{
                display: block;
                max-width: 400px;
                text-align: left;
            }

            .card img{
                max-width: 300px;
                margin: 10px;
            }

            @media (max-width: 700px){

                .section-break{
                    /* padding-top: 15vw;
                    padding-bottom: 15vw; */
                    padding: 10vw 5vw;
                }

                .card {
                    padding: 30px;
                }
                .card img {
                    max-width: 200px;
                    margin: 30px 0;
                }
            }
    
    /******************************************/
    /*        Resource Section Styling        */
    /******************************************/

        .resource-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;

            margin: 20px 0;
        }

        .resource-container img {
            max-width: 400px;
        }

            @media (max-width: 500px){
                .resource-container img {
                    max-width: 300px;
                }
            }

/******************************************/
/*             Footer Styling             */
/******************************************/

    footer {
        padding: 2vw 5vw;
        background-color: #f2f2f2;
        
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-logo img{
        max-height: 70px;
        filter: saturate(0%);
    }

    .social-container {
        text-align: center;
    }


    @media (max-width: 700px){
        .footer-container{
            flex-direction: column;
        }

        .footer-logo img {
            max-height: 50px;
        }
    }

    footer a {
        color: #3d7eb4;
    }
            
    /******************************************/
    /*      Social Media Icons Styling        */
    /******************************************/


        .social-icon {
            max-width: 40px;
            margin: 0 8px;
        }

/******************************************/
/*              Grid Styling              */
/******************************************/

    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 5%;
        row-gap: 5%;
        margin: 20px 0;
    
    }
    
    .grid-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .grid-container div img {
        width: 50px;
        
        }


/******************************************/
/*             Member Cards               */
/******************************************/

    .member-bio{
        display: flex;
        justify-content: space-around;
        border-radius: 40px;

        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.173);
        padding: 4vw;
        margin: 50px 0;
        min-height: 300px;
        
    }

    .avatar-name{
        color: #1A3146;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }

    .avatar-labels p{
        margin: 5px 0;
    }

    .avatar-title{
        text-transform: uppercase;
        font-weight: 600;
    }

    .avatar-bio{
        text-align: left;
        padding: 0 5vw;
    }

        .avatar{
            border: 5px solid rgb(220, 220, 204);
            border-radius: 50%;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.173);
            
            max-height: 250px;
        }


        @media (max-width:1000px) {
            .member-bio{
                flex-wrap: wrap;
            }

            .avatar{
                max-height: 200px;
            }
        }




/******************************************/
/*            iFrame Styling              */
/******************************************/

    .iframe-container{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    
    .iframe-container iframe{
    
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    
    }


    .map-routes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .map-routes-container img{
        max-height: 300px;
    }