
body{
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.5;
    color: #33353C;
}

/******************************************/
/*           General Page Theme           */
/******************************************/

    h1 {    /*Used inside hero sections*/
        margin: 0px;
        text-align: right;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 900;
        color: white;
    }

        @media (max-width: 700px){
            h1 {
                text-align: center;
                font-size: 1.2rem;
            }
        }

    h2{ /* Used as the title for each section */
        text-align: center;
        text-transform: uppercase;
        color: #35668A;
        font-size: 1em;
        margin: 5px;
    }

    h3{ /* */
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        color: white;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #143148;
    }

    .button {
        display: block;
        width: 100px;
        padding: 8px 12px;
        margin: 18px auto; 
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        border: 2px solid #143148;
        background-color: white;
        color: #143148;
    }

    .button:hover {
        background-color: #143148;
        color: white;
    }

/******************************************/
/*         Navigation Bar Styling         */
/******************************************/

    /* 700px below hide nav bar */

    .nav-bar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        
        
        top: 0;
        max-width: 1500px;
        width: 100%;
        height: 80px;

        box-shadow: 0 5px 10px -10px;
        background-color: white;
    }

        .nav-logo {
            padding: 20px;
            height: 40px;
        }

        .nav-links {
            display: flex;
            align-items: center;
            margin: 17.5px 10px;
        }

        @media (max-width: 700px){
            .nav-links {
                display: none;
            }

            
        }

    /******************************************/
    /*         Navigation Links Styling       */
    /******************************************/

        .nav-links a {
            padding: 13px 16px;
            font-weight: 500;
            color: #1A3146;
        }

        .nav-bar a:hover {
            background-color: rgba(26, 49, 70, 0.733);
            color: white;
        }

        .nav-bar a:active {
            background-color: #1A3146;
            color: white;
        }

/******************************************/
/*             Section Styling            */
/******************************************/

    .content-section{
        background-color: white;
        padding: 7vw;
    }

    /******************************************/
    /*           Hero Section Styling         */
    /******************************************/

        .hero-section{
            margin-top: 80px;
            padding: 7vw;
            min-height: 220px;
            background-image: url(/LHSA/Assets/hero.png);
            background-size: cover;
            
        }

            .call-to-action-container{
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
            }

            @media (max-width: 700px){
                .call-to-action-container{
                    justify-content: center;
                }
            }

            .callToAction {
                padding: 10px 15px;
                margin: 15px;
                text-decoration: none;  
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
            }

            .callToAction.learn {
                border: 2px solid #143148; 
                background-color: #143148;
                color: white;
            }
            
            .callToAction.learn:hover{
                background-color: white;
                color: #143148;
            }
            
            .callToAction.join {
                margin: 15px 15px 15px 15px;
                border: 2px solid #143148;
                background-color: white;
                color: #143148;
            }
            
            .callToAction.join:hover{
                background-color: #143148;
                color: white;
            }

    /******************************************/
    /*          Break Section Styling         */
    /******************************************/

            .section-break {
                padding: 7vw;
                text-align: center;
                background-color: #1C4B66;
            }

            .break-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

            .break-img img {
                max-height: 200px;
                margin: 10px 0;
            }

                @media (max-width: 800px){
                    .break-img img{
                        max-height: 100px;
                    }

                }

            .break-caption { 
                text-align: center;
                font-size: 1.5em;
                font-weight: 500;
                color: white;
            }


            
    
    /******************************************/
    /*        Resource Section Styling        */
    /******************************************/

        .resource-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
        }

        .resource-container img {
            max-width: 400px;
            
        }

            @media (max-width: 500px){
                .resource-container img {
                    max-width: 200px;
                }
            }

            

/******************************************/
/*             Footer Styling             */
/******************************************/

    footer {
        padding: 30px;
        text-align: center;
        color: white;
        background-color: #1B405E;
    }

        footer a {
            color: #5ea8e4;
        }
            
    /******************************************/
    /*      Social Media Icons Styling        */
    /******************************************/

        .social-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 40px auto 10px auto;
        }

        .social-icon {
            width: 50px;
        }

