/********************************************/
/*             Slideshow Theme              */
/********************************************/



#main-slide {
	display: block;
	max-width: 100%;
	min-width: 200px;
	
	max-height: 500px;

	border-radius: 5px 5px 0 0;

	margin: 0 auto;
}



.carousel {
	height: 100px;
	min-width: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.carousel-thumbs{
	display: flex;
	overflow-x: scroll;
	border-radius: 5px;
}

.carousel-thumbs img{
	max-height: 100px;
}

.carousel-thumbs img:hover {
	cursor: pointer;
}


.slideshow-button {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 40px;
	height: 40px;
	
	color: rgb(52, 73, 94);
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
	margin: 0 15px;
}

.slideshow-button:hover{
	color: white;
	background-color: rgb(52, 73, 94);
	cursor: pointer;

}


